<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListaPersona</servlet-name>
        <servlet-class>controlador.ListaPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPersona</servlet-name>
        <servlet-class>controlador.AgregarPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoliMundi</servlet-name>
        <servlet-class>Ejemplo.HoliMundi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPersona</servlet-name>
        <servlet-class>controlador.EditarPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaPersona</servlet-name>
        <url-pattern>/ListaPersona.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPersona</servlet-name>
        <url-pattern>/AgregarPersona.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoliMundi</servlet-name>
        <url-pattern>/HoliMundi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPersona</servlet-name>
        <url-pattern>/edit.html</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AgregarMedicos</servlet-name>
        <servlet-class>controlador.AgregarMedicos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMedico</servlet-name>
        <servlet-class>controlador.ListaMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEditable_Ejemplo</servlet-name>
        <servlet-class>Ejemplo.ListaEditable_Ejemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEspecialidad</servlet-name>
        <servlet-class>controlador.AgregarEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEspecialidad</servlet-name>
        <servlet-class>controlador.ListaEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEnfermedad</servlet-name>
        <servlet-class>controlador.AgregarEnfermedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEnfermedad</servlet-name>
        <servlet-class>controlador.ListaEnfermedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMedicamento</servlet-name>
        <servlet-class>controlador.AgregarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaMedicamento</servlet-name>
        <servlet-class>controlador.ListaMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPaciente</servlet-name>
        <servlet-class>controlador.AgregarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPaciente</servlet-name>
        <servlet-class>controlador.ListaPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPacienteL</servlet-name>
        <servlet-class>controlador.AgregarPacienteL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPacienteL</servlet-name>
        <servlet-class>controlador.ListaPacienteL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEps</servlet-name>
        <servlet-class>controlador.AgregarEps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEps</servlet-name>
        <servlet-class>controlador.ListaEps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTutor</servlet-name>
        <servlet-class>controlador.ListaTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarTutor</servlet-name>
        <servlet-class>controlador.AgregarTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarInscripcionFinal</servlet-name>
        <servlet-class>controlador.AgregarInscripcionFinal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarIncripcionFinal</servlet-name>
        <servlet-class>controlador.AgregarIncripcionFinalPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarIncripcionFinalTutor</servlet-name>
        <servlet-class>controlador.AgregarIncripcionFinalTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPersona_ejemplo</servlet-name>
        <servlet-class>Ejemplo.AgregarPersona_ejemplo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaUsuario</servlet-name>
        <url-pattern>/ListaUsuario.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/AgregarUsuario.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoliMundi</servlet-name>
        <url-pattern>/HoliMundi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPersona</servlet-name>
        <url-pattern>/edit.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMedicos</servlet-name>
        <url-pattern>/AgregarMedico.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaMedico</servlet-name>
        <url-pattern>/ListaMedico.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEditable_Ejemplo</servlet-name>
        <url-pattern>/ListaEditable_Ejemplo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEspecialidad</servlet-name>
        <url-pattern>/AgregarEspecialidad.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEspecialidad</servlet-name>
        <url-pattern>/ListaEspecialidad.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEnfermedad</servlet-name>
        <url-pattern>/AgregarEnfermedad.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEnfermedad</servlet-name>
        <url-pattern>/ListaEnfermedad.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMedicamento</servlet-name>
        <url-pattern>/AgregarMedicamento.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaMedicamento</servlet-name>
        <url-pattern>/ListaMedicamento.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPaciente</servlet-name>
        <url-pattern>/AgregarPaciente.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPaciente</servlet-name>
        <url-pattern>/ListaPaciente.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPacienteL</servlet-name>
        <url-pattern>/AgregarPacienteL.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPacienteL</servlet-name>
        <url-pattern>/ListaPacienteL.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEps</servlet-name>
        <url-pattern>/AgregarEps.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEps</servlet-name>
        <url-pattern>/ListaEps.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTutor</servlet-name>
        <url-pattern>/ListaTutor.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarTutor</servlet-name>
        <url-pattern>/AgregarTutor.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarInscripcionFinal</servlet-name>
        <url-pattern>/AgregarInscripcionFinal.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarIncripcionFinal</servlet-name>
        <url-pattern>/AgregarIncripcionFinal.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarIncripcionFinalTutor</servlet-name>
        <url-pattern>/AgregarIncripcionFinalTutor.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPersona_ejemplo</servlet-name>
        <url-pattern>/AgregarPersona_ejemplo.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
